
<div class="row pl-3">
	<div class="col-lg-5">
		<div class="form-group col-md-12">
			<label for="input">Blank</label>
			<input type="" class="form-control" id="input">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Filled</label>
			<input type="" class="form-control" id="input" placeholder="Korwin-Piotrowski">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Active</label>
			<input class="form-control border border-danger" placeholder="Mich">
			<small class="form-text text-red text-right">
				Type correct city name!
			</small>
		</div>
		<div class="form-group col-md-12">
			<label for="input">Incorrect data</label>
			<input type="" class="form-control border border-red " id="input" placeholder="Wielkopolskie">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Incorrect data</label>
			<input type="" class="form-control border border-red " id="input" placeholder="Wielkopolskie">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Incorrect data</label>
			<input type="" class="form-control border border-red " id="input" placeholder="Wielkopolskie">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Incorrect data</label>
			<input type="" class="form-control border border-red " id="input" placeholder="Wielkopolskie">
		</div>
		<div class="form-group col-md-12">
			<label for="input">Incorrect data</label>
			<input type="" class="form-control border border-red " id="input" placeholder="Wielkopolskie">
		</div>
	</div>
	<div class="row col-lg-7 m-0">
		<div class="row"> 
			<div class="button col-3">
				<button class="btn btn-dackblue">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-blue">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-dackblue">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-blue">
					Change password
				</button>
			</div>
		</div>
		<div class="row">
			<div class="button col-3">
				<button class="btn btn-drake">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-drake">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-drake">
					Change password
				</button>
			</div>
			<div class="button col-3">
				<button class="btn btn-drake">
					Change password
				</button>
			</div>
		</div>
		


	</div>
</div>






