<div class="container text-center">
	<div class="row ">
			<div class="col-2"></div>
		<div class="col-2 pl-0">
			<div class="menu-btn">
					<a class="icon-color" href="/device">
						<i class="fas fa-laptop"></i>
					</a>
			</div>
			<p class="font-size16px mt-3">รายการอุปกรณ์</p>
		</div>
		<div class="col-1"></div>
		<div class="col-2 pl-0">
			<div class="menu-btn">
					<a class="icon-color" href="/request">
						<i class="fas fa-envelope-square"></i>
					</a>
			</div>
			<p class="font-size16px mt-3">รายการคำขออุปกรณ์</p>
		</div>
		<div class="col-1"></div>
		<div class="col-2 pl-0">
			<div class="menu-btn">
					<a class="icon-color" href="/manageuser">
						<i class="fas fa-users"></i>
					</a>
			</div>
			<p class="font-size16px mt-3">รายการผู้ใช้</p>
		</div>
	</div>
</div>