/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "button.scss";

body {
  color: #5D5D5D;
  font-family: Pridi !important; 
  height: 100vh;
  background-color:  #F9F9FA;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  color: #5D5D5D; 
  font-family: Pridi !important; 
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}

tr {
    font-size: 16px;
    font-weight: 300;
    th {
      font-size: 16px;
    font-weight: 400;
    }
  }





.bg-nav {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.30000001192092896);
  height: 61px;
}

.title{
  
}
.text-title {
  color: #5D5D5D;
  font-family: Pridi;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2.5px;
  line-height: 36px;
  text-align: left;
 }

.text-color {
  color: #5D5D5D;
  opacity: 0.5;
  font-family: Pridi;
}

.font-size20px {
  font-size: 20px;
  font-weight: 500;
  color: #5D5D5D;
}
.font-size16px {
  font-size: 16px;
  color: #5D5D5D;
  font-family: Pridi !important; 
}
.font14 {
  font-size: 14px;
  color: #5D5D5D;
}
.text-white {
  color: #ffffff;
  font-family: Pridi;
}
.text-right {
  text-align: right;
}
.bg-modalyellow {
  background-color: #FFBB4D;
}
.bg-red {
  background-color: #D23D28;
}
.color-yellow {
  color: #FFBB4D;
}

.color-red {
  color: #D23D28;
}

.color-blue {
  color: #2B69A8;
}
.color-cog {
  color: #5D5D5D;
}
.table-borderless {
  font-size: 14px;
  font-weight: 400;
  color: #5D5D5D;
}
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #979797;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #64B9D9;
  position: relative;
}

/* table*/

li {
  border-radius:3px;
  padding:8px 8px;
  display:flex;
  justify-content:space-between;
  margin-bottom:10px
}
.table-row {
  background-color:#fff;
  box-shadow:0 0 9px 0 rgba(155, 124, 124, 0.1)
}

@media all and (max-width:767px) {
.table-header {
  display:none
}
  li {
    display:block;
  }
.col {
  flex-basis:100%;
  display:flex;
  padding:10px 0
}
.col:before {
  color:#6C7A89;
  padding-right:10px;
  content:attr(data-label);
  flex-basis:50%;
  text-align:right}
}

.formulario{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 510px;
  height: 364px;
  background-color: #FFFFFF;
}
.bg-share-square {
  background-color: #64CDEC;
}
.bg-modalgreen {
  background-color: #65D9B4;
}
.bg-modalred {
  background-color: #D64E3B;
}
.bg-modalpurple {
  background-color: #6869AE;
}
.bg-wrench {
  background-color: #5A5A5A;
}
.color-wrench {
  color: #5A5A5A;
}
.text-wrench {
  color: #5A5A5A;
}
.text-green {
  color: #6BB987;
}
.navbar-custom {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.30000001192092896);
  width: 1440px;
  height: 61px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.bg-navlogo {
  background-color: #BC59EC;
  width: 236px;
  height: 61px;
}
.navbar-logo{
  color: #FFFFFF;
  font-family: piron;
  font-size: 18px;
  padding: 18px 29px;
}

.navbar-navuserlogin {
  border-right: 2px solid #CFCFCF;;
}
.report-content {
  padding: 30px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,0.3);
}

.title{
  padding-top: 40px;
}

.color-share-square{
  color: #64CDEC;
}

.container {
  padding-top: 60px;
}

.fa-bell {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: -37px;
  left: 11em;

}
.h-500 {
  height: 500px;
}
.icon-right {
  position: absolute;
  top: 42px;
  right: 24px;
}
.font14-green {
  font-size: 14px;
  color: #265824;
  letter-spacing: 1.17px;
  line-height: 17px;
}
.table thead th {
  border: 0;
}

.menu-btn {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 187px;
  height: 132px;
}
.icon-color {
  color: #BC59EC;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 5.83px;
  line-height: 84px;
  margin-top: 22px;
  &:hover{
		background-color: transparent;
		color: #64CDEC;
	}
}

.Search {
  background-color: #F9F9F9;
  border-radius: 25px;
  width: 216px;
  height: 41px;
}
.icon-Search  {
  position: absolute;
  top: 15px;
  left: 24px;
  opacity: 0.5;
}

.icon-size {
   font-size:30px;
   color: #BC59EC;
 
}
.size-icon-user {
  color: #FFFFFF;
  font-size: 16px;
  position: absolute;
  top: 6px;
  left: 23px;
}

.icon-size-2px {
  color: #FF5938;
  position: absolute;
  font-size: 8px;
  top: -38px;
  left: 209px;
}

.button-rccept-reject {
  padding: 0px;
font-size: 14px;
font-weight: 300;
width: 60px;
height: 22px;
}
.accept {
  position: absolute;
  right: 128px;
  top: 109px;
  color: #FFFFFF;
	&:hover{
		background-color: transparent;
    color: #6BB987;
  }
}
.reject {
  position: absolute;
  right: 40px;
  top: 109px;
  color: #FFFFFF;
	&:hover{
		background-color: transparent;
    color: #D64E3B;
  }
}
